<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABM</title>
    <style>
        h1,
        h2,
        form {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
        }
        div {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: auto;
        }
    </style>
</head>

<body>
    <div>
        <h1>Audio Book Maker</h1>
        <h2>Upload the book in pdf format and download the audiobook</h2>
        <form action="">
            <textarea name="book" id="book" cols="30" rows="10"></textarea>
            <input type="submit" value="Generate Audiobook">
        </form>
    </div>
</body>

</html>